.custom-card {
  border: none !important;
}

.team-member-picture {
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin: 10px;
}

header, footer {
  text-align: center;
  padding: 10px 0;
}

.projects-list {
  list-style-type: none;
  padding-left: 0;
}

.projects-list li {
  margin-bottom: 5px;
}

.team-member-body {
  text-align: left;
}
