.custom-card {
  border: none !important;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.full-width-divider {
  width: 99vw;
  margin: 20px 0;
  border: 1px solid #E5E5E5;  /* This controls the divider's thickness and color */
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.team-member-picture {
  width: 87%;
  padding-top: 87%;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin: 10px 12px;
}

header, footer {
  text-align: center;
  padding: 10px 0;
}

.projects-list {
  list-style-type: none;
  padding-left: 0;
}

.projects-list li {
  margin-bottom: 5px;
}

.team-member-body {
  text-align: left;
  font-family: 'proxima-nova';
  padding-left: 2.5px !important;
  display: flex;
  flex-direction: column;
 }

 .card-title-custom {
  font-family: 'proxima-nova-bold';
  text-transform: uppercase;
  font-size: 1.3em !important;
 }

 .card-subtitle-custom {
  font-family: 'proxima-nova';
  text-transform: uppercase;
  font-size: 1.12em !important;
  padding-top: 5px;
  padding-bottom: 15px;
  margin-bottom: 20px;
 }

 .card-text-custom {
  font-size: 1.14rem;
  width: 92.5%;
}
/* 
.read-more {
  align-self: flex-start;
  text-decoration: none !important;
  color: #573080 !important;
  padding: 0.5em 1em !important;
  font-family: 'proxima-nova-bold';
  font-size: 0.9em;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 8em; 
  border: none;
  background: none;
  line-height: 1;
}

.read-more:hover, .read-more:focus {
  color: #573080 !important;
  text-decoration: none !important;
}

.read-more .material-icons {
  font-size: 1.2em;
} */

.read-more {
  align-self: flex-start;
  text-decoration: none !important;
  color: #573080 !important;
  padding: 0px !important;
  font-family: 'proxima-nova-bold';
  font-size: 0.9em;
  display: flex;
  align-items: center;
  gap: 5px;  /* This adds space between the text and icon */
}

.read-more:hover, .read-more:focus {
  color: #573080 !important;
  text-decoration: none !important;
}

.read-more .material-icons {
  font-size: 1.5em;  /* Adjust this value to match the size of your text */
  vertical-align: middle;
  padding-left: 12px;
}