.custom-navbar {
  height: 80px;
  background-color: #523080;
  width: 100%;
  margin-bottom: 32px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.icons-search-bar-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.icons-container {
  display: flex;
  gap: 15px;
  margin-right: 15px;
}

.search-form {
  display: flex;
}

.search-input {
  border-radius: 0 !important; /* Force boxy corners */
  border-right: none;
  background-color: #64458D !important ; /* Background color for the input */
  border: none !important; /* Remove the border */
}

.search-button {
  border-radius: 0 !important; /* Force boxy corners */
  border-left: none;
  background-color: #75599A !important; /* Background color for the button */
  color: #D3CBDF !important; /* Text color for better contrast */
  font-weight: bold;
  border: none !important; /* Remove the border */
  font-family: 'proxima-nova-bold' !important;

}

/* Override Bootstrap's focus styles to maintain boxy corners */
.search-input:focus,
.search-button:focus {
  box-shadow: none !important;
  outline: none !important;
}

.logo-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.govlab-logo {
  max-width: 140px;
  display: block;
}

.material-icons {
  color: #64458D; /* Updated icon color */
  cursor: pointer;
  padding: 10px;
}


/* Add these styles to your existing Navigation.css file */

.links-container {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.our-sites-button {
  border-radius: 0 !important;
  background-color: #75599A !important;
  color: #D3CBDF !important;
  font-weight: bold;
  border: none !important;
  font-family: 'proxima-nova-bold' !important;
  margin-right: 15px;
}

.links-container a {
  color: #D3CBDF;
  font-size: 20px;
  margin-left: 10px;
}

.links-container a:hover {
  color: #ffffff;
}

/* Add these styles to your existing Navigation.css file */

/* ... (keep all the previous styles) ... */

/* Media query for screens between 768px and 1200px */
@media (min-width: 769px) and (max-width: 1200px) {
  .custom-navbar {
    height: auto;
    padding: 10px 0;
  }

  .navbar-container {
    justify-content: center;
  }

  .icons-search-bar-container,
  .links-container {
    display: none;
  }

  .logo-container {
    position: static;
    transform: none;
  }
}
@media (max-width: 768px) {
  .custom-navbar {
    height: auto;
    padding: 10px 0;
    margin-bottom: 0px;
  }

  .navbar-container {
    justify-content: center;
  }

  .icons-search-bar-container,
  .links-container {
    display: none;
  }

  .logo-container {
    position: static;
    transform: none;
    width: 80%;
    text-align: center;
  }

  .govlab-logo {
    max-width: 140px;
    margin: 0 auto;
    display: block;
  }
}