.custom-navbar {
  height: 75px;
  background-color: #523080;
  width: 100%;
  margin-bottom: 30px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.icons-container {
  display: flex;
  gap: 15px;
  margin-left: 20px;
}

.logo-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.govlab-logo {
  max-width: 140px;
  display: block;
}

.material-icons {
  color: white;
  cursor: pointer;
}

/* Styles for smaller screens (mobile and tablets) */
@media (max-width: 768px) {
  .custom-navbar {
    height: auto;
    padding: 10px;
    margin-bottom: 20px;
  }

  .navbar-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo-container {
    position: static;
    transform: none;
    margin-top: 10px;
  }
}