.custom-card {
    border: none !important;
    width: 90%;
    margin-left: 25px;
    margin-right: auto;
    padding: 0;
  }
  
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  
  .full-width-divider {
    width: 99vw;
    margin: 20px 0;
    margin-bottom: 0px;
    border: 1px solid #E5E5E5;  
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
  
  .team-member-picture {
    width: 86.5%;
    padding-top: 86.5%;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin: 14px 40px;
  }
  
  header, footer {
    text-align: center;
    padding: 10px 0;
  }
  
  .projects-list {
    list-style-type: none;
    padding-left: 0;
    margin: 20px 0 0 0; 
  }
  
  .projects-list li {
    border-bottom: 1px solid #E5E5E5; 
    padding: 10px; 
    background-color: #ffffff; 
    transition: background-color 0.3s ease; 
  }
  
  .projects-list li:hover {
    background-color: #F2F2F2; 
  }
  
  .projects-list a {
    font-size: 1.2rem; 
    color: #523080; 
    text-decoration: none;
    display: block;
    transition: color 0.3s ease; 
  }
  
  .projects-list a:hover {
    color: #523080; 
  }
  
  .team-member-body {
    text-align: left;
    font-family: 'proxima-nova';
    padding-left: 40px !important;
    display: flex;
    flex-direction: column;
   }
  
   .card-title-custom {
    font-family: 'proxima-nova-bold';
    text-transform: uppercase;
    font-size: 1.3em !important;
   }
  
   .card-subtitle-custom {
    font-family: 'proxima-nova';
    text-transform: uppercase;
    font-size: 1.125em !important;
    padding-top: 5px;
    padding-bottom: 15px;
    margin-bottom: 20px;
   }
  
   .card-text-custom {
    font-size: 1.12rem;
    width: 100%;
    line-height: 1.575;
    margin-right: 0px;
  }
  
  .card-text-custom a {
    color: #523080;
    text-decoration: none;
  }
  
  .card-text-custom a:hover {
    color: #523080;  
  }
  
  .button-container {
    display: flex;
    gap: 10px; 
    margin-top: 10px; 
  }
  
  .team-card-custom-button {
    align-self: flex-start;
    text-decoration: none !important;
    color: #573080 !important;
    padding: 0px !important;
    font-family: 'proxima-nova';
    font-size: 0.9em;
    display: flex;
    align-items: center;
    gap: 5px; 
    border-radius: 0 !important;  
    transition: background-color 0.3s ease-in-out, border-radius 0.3s ease-in-out !important; 
  }
  
  .team-card-custom-button:hover {
    background-color: #CCCCCC !important;
    border-radius: 0 !important;  
    padding-left: 10px !important;
  }
  
  
  .team-card-custom-button .material-icons {
    font-size: 1.5em;  
    vertical-align: middle;
    padding-left: 12px;
    color: #523080;
  }
  
  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
  
  @media (max-width: 768px) {
    .team-member-body{
      padding-left: 0px !important;
    }

    .team-member-picture {
      width: 50%; 
      padding-top: 50%; 
      margin: 40px auto; 
      display: block; 
    }
  
    .custom-card {
      width: 100%;
      margin: 0 auto; 
    }
  
    .card-title-custom {
      font-size: 1.2em; 
    }
  
    .card-subtitle-custom {
      font-size: 1em; 
    }
  
    .card-text-custom {
      font-size: 1.15rem; 
      width: 100%;
    }
  
    .team-card-custom-button {
      background-color: #E5E5E5 !important;
      padding-left: 10px !important;
    }
  }
  
  
  
  