.custom-card {
    border: none !important;
    width: 90%;
    margin-left: 25px;
    margin-right: auto;
    padding: 0;
  }
  
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  
  .full-width-divider {
    width: 99vw;
    margin: 20px 0;
    margin-bottom: 0px;
    border: 1px solid #E5E5E5;  /* This controls the divider's thickness and color */
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
  
  .team-member-picture {
    width: 86.5%;
    padding-top: 86.5%;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin: 14px 40px;
  }
  
  header, footer {
    text-align: center;
    padding: 10px 0;
  }
  
  .projects-list {
    list-style-type: none;
    padding-left: 0;
    margin: 20px 0 0 0; /* Add top margin */
  }
  
  .projects-list li {
    border-bottom: 1px solid #E5E5E5; /* Border color and thickness */
    padding: 10px; /* Space between the text and the border */
    background-color: #ffffff; /* Default background color */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
  }
  
  .projects-list li:hover {
    background-color: #F2F2F2; /* Background color on hover */
  }
  
  .projects-list a {
    font-size: 1.2rem; /* Increase font size slightly */
    color: #523080; /* Set the text color */
    text-decoration: none; /* Remove underline */
    display: block; /* Ensure the link takes up the full width of the li */
    transition: color 0.3s ease; /* Smooth transition for text color */
  }
  
  .projects-list a:hover {
    color: #523080; /* Maintain the color on hover */
  }
  
  .team-member-body {
    text-align: left;
    font-family: 'proxima-nova';
    padding-left: 40px !important;
    display: flex;
    flex-direction: column;
   }
  
   .card-title-custom {
    font-family: 'proxima-nova-bold';
    text-transform: uppercase;
    font-size: 1.3em !important;
   }
  
   .card-subtitle-custom {
    font-family: 'proxima-nova';
    text-transform: uppercase;
    font-size: 1.125em !important;
    padding-top: 5px;
    padding-bottom: 15px;
    margin-bottom: 20px;
   }
  
   .card-text-custom {
    font-size: 1.12rem;
    width: 100%;
    line-height: 1.575;
    margin-right: 0px;
  }
  
  .card-text-custom a {
    color: #523080;
    text-decoration: none;
  }
  
  .card-text-custom a:hover {
    color: #523080;  /* Slightly darker shade for hover effect */
  }
  
  .button-container {
    display: flex;
    gap: 10px; /* Space between buttons */
    margin-top: 10px; /* Adjust top margin if needed */
  }
  
  .team-card-custom-button {
    align-self: flex-start;
    text-decoration: none !important;
    color: #573080 !important;
    padding: 0px !important;
    font-family: 'proxima-nova';
    font-size: 0.9em;
    display: flex;
    align-items: center;
    gap: 5px;  /* This adds space between the text and icon */
    border-radius: 0 !important;  /* Boxy corners */
    transition: background-color 0.3s ease-in-out, border-radius 0.3s ease-in-out !important; /* Smooth transition */
  }
  
  .team-card-custom-button:hover {
    background-color: #CCCCCC !important;
    border-radius: 0 !important;  /* Boxy corners */
    padding-left: 10px !important;
  }
  
  
  .team-card-custom-button .material-icons {
    font-size: 1.5em;  /* Adjust this value to match the size of your text */
    vertical-align: middle;
    padding-left: 12px;
    color: #523080;
  }
  
  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* or another appropriate value */
  }
  
  
  @media (max-width: 768px) {
    .team-member-picture {
      width: 55%; /* Adjust width to fit the mobile screen */
      padding-top: 55%; /* Maintain aspect ratio; adjust if needed */
      margin: 0 auto; /* Center align the picture horizontally */
      display: block; /* Ensure it behaves as a block element for centering */  
    }
  
    .custom-card {
      width: 100%; /* Ensure cards use full width on mobile */
      margin: 0 auto; /* Center align the cards */
    }
  
    .card-title-custom {
      font-size: 1.2em; /* Adjust font size for mobile readability */
    }
  
    .card-subtitle-custom {
      font-size: 1em; /* Adjust font size for mobile readability */
    }
  
    .card-text-custom {
      font-size: 1rem; /* Adjust font size for mobile readability */
      width: 100%;
    }
  
    .team-card-custom-button {
      background-color: #E5E5E5 !important;
      padding-left: 10px !important;
    }
  }
  
  
  
  